.dropdownBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .sortBy .field {
  display: flex;
  justify-content: end;
} */

.btn.dropdown-toggle {
  background-color: transparent !important;
  color: rgb(147 141 141) !important;
  border: 1px solid rgb(197 197 197) !important;
}
